* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    height:100vh;
    margin: 0rem;
    
}

header {
    position: fixed;
    top:-22px;
    height: 72px;
    color: #fff;
    background-color: white;
    width:100%;
    transition: all ease-in-out 1s;
    opacity: 1;
    margin-top: 20px;
    z-index: 1;
}
.nav-container {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.nav-container ul li{
    padding-left: 2rem;
}

#site-header > div.nav-container > nav {
    margin-left: 0;
}

#site-header > div.nav-container > nav {
    padding: 0;
}

#site-header > div.nav-container > div {
    margin-top: -1.5%;
}

.logo-img {
    width: 50px;
    position: absolute;
    top:10px
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    margin: 60px 60px;
    padding: 5px;
    border-bottom: #22222200 solid;
    padding:5px;
    color:#2b2b2b;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-end-start-radius 0.8s ease-in-out, border-bottom 0.5s ease-in-out;
}

.nav-links a:hover {
    border-bottom: #2e2e2e solid;
    color: #000000;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon {
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

.cart-icon:hover {
    color: rgba(49, 49, 49, 0.74);
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
  }

  #message {
    resize: none;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    border: 1px solid #2e2e2e;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="text"], input[type="email"], input[type="password"], textarea {
    background-color: #fff;
    color:#000;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-left:1px solid rgba(0, 0, 0, 0);
    border-right:1px solid rgba(0, 0, 0, 0)
  }

  input[type="submit"] {
    text-align: right;
    background: black;
    color:white;
    border:1px #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    padding: 6px 20px;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    opacity: 1;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  #form-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    width:60%
  }

  #form-container #container {
    margin-top: 8%;
    background: rgba(255,255,255,0.3);
    padding-left: 1.5em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 0.7em;
    border-radius: 20px;
    border-left: 1px solid rgba(176, 175, 175, 0.3);
    border-top: 1px solid rgba(168, 168, 168, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    
  }

  #form-container #container h1 {
    margin-bottom: 40px;
    font-size: xx-large;
  }

.flex {
    display: flex;
    align-items: center;
    width:100%;
}

.flex i {
    padding: 1em;
}

input:focus,
textarea:focus {
    outline: none;
}

input {
    padding-top: 0.5em;
    padding-right: 0.5em;
}

textarea {
    height:24px
}

#socialContainer {
    width:100%;
    text-align: left;
    margin-top: 10px;
    margin-top: -50px;
}

#socialContainer ul .social li {
    font-family: fantasy;
    list-style:none;
    font-weight:100;
    font-size: small;
    color:white;
    padding: 10px;
    overflow: hidden;
    cursor:default;
    user-select: none;
    transition: all ease 0.5s;
}

.social a {
    text-decoration: none;
    color:black;
}

.social a:hover + li {
    overflow: hidden;
    color:black !important; 
    white-space: nowrap;
    animation: 
    typing 1s steps(90, end),
    blink-caret .75s step-end infinite;
}
#socialContainer .social {
    display: flex;
    align-items: center;
    width:28%;
}
i {
    margin-right: 5px;
}

.fa-twitter:before {
    margin-right: -2px;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }