* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    height:100vh;
    margin: 0rem;
    
}

header {
    position: fixed;
    top:-22px;
    height: 72px;
    color: #fff;
    background-color: white;
    width:100%;
    transition: all ease-in-out 1s;
    opacity: 1;
    margin-top: 20px;
    z-index: 1;
}
.nav-container {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.nav-container ul li{
    padding-left: 2rem;
}

#site-header > div.nav-container > nav {
    margin-left: 0;
}

#site-header > div.nav-container > nav {
    padding: 0;
}

#site-header > div.nav-container > div {
    margin-top: -1.5%;
}

.logo-img {
    width: 50px;
    position: absolute;
    top:10px
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    margin: 60px 60px;
    padding: 5px;
    border-bottom: #22222200 solid;
    padding:5px;
    color:#2b2b2b;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-end-start-radius 0.8s ease-in-out, border-bottom 0.5s ease-in-out;
}

.nav-links a:hover {
    border-bottom: #2e2e2e solid;
    color: #000000;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon {
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

.cart-icon:hover {
    color: rgba(49, 49, 49, 0.74);
}

.content {
    padding:7rem 0;
}

.container {
    width:100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.flex-container{
    display: flex;
    flex-wrap: wrap; 
    margin-right: 12px;
    margin-left: 12px;
}

.column {
    position: relative;
    width:100%;
    padding-left: 12px;
    padding-right: 12px;
}

.column h3 {
    color:rgb(0, 0, 0);
    background-color: none;
}

h3#title {
    font-size: xx-large;
}

.column p {
    font-size: medium;
    font-style: italic;
    font-weight: bolder;
}

.input-box {
    padding:50px;
    background:white;
    box-shadow: -40px 30px 0px 0 rgba(49, 49, 49, 0.74);
}
