* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    height:100vh;
    margin: 0rem;
    
}

header {
    position: fixed;
    top:-22px;
    height: 72px;
    color: #fff;
    background-color: white;
    width:100%;
    transition: all ease-in-out 1s;
    opacity: 1;
    margin-top: 20px;
    z-index: 1;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.logo-img {
    width: 50px;
    position: absolute;
    top:10px
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    margin: 60px 60px;
    padding: 5px;
    border-bottom: #22222200 solid;
    padding:5px;
    color:#2b2b2b;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-end-start-radius 0.8s ease-in-out, border-bottom 0.5s ease-in-out;
}

.nav-links a:hover {
    border-bottom: #2e2e2e solid;
    color: #000000;
}

.cart-icon {
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

.cart-icon:hover {
    color: rgba(49, 49, 49, 0.74);
}

.show {
    display: block;
}

#width {
    width:100% !important;
}

#main-container {
    display: flex;
    position: relative;
    margin-top: 50px;
    width:98vw;
    height:100vh;
    justify-content: space-around;
    margin-left: 8px;
    gap: 20px;
}

.shoe-selection {
    width: 30vw;
    background-image: url('https://images.pexels.com/photos/1070360/pexels-photo-1070360.jpeg?cs=srgb&dl=pexels-jordan-hyde-1070360.jpg&fm=jpg');
    background-size: 150%;
    background-position: center;
    box-sizing: border-box;
}

  

#background-1 {
    background-image: url('https://i.ibb.co/4ZH2sB6/merlin-186039729-cdb846bf-dc3f-49cf-8552-e3992140338b-super-Jumbo.png');
}

#background-2 {
    background-image: url('https://i.ibb.co/wzgK2Yf/3525-12-D-TIF-RGB-801264-01-SP23-Project212-TM-Shot-12-038-main-1.png');
}

#background-3 {
    background-image: url('https://i.ibb.co/hRqhqg7/photo-1542291026-7eec264c27ff.png');
}

.info-container {
    margin-top: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-text {
    color: rgb(70, 70, 70);
    font-weight: bolder;
    font-size: 15px;
    list-style-type: none;
}

#below-text {
    margin-top: 40px;
}

#middle-title {
    color: rgb(22, 22, 22);
    font-weight: bold;
    font-size: 80px;
    list-style-type: none;
    word-wrap: none;
    flex-wrap: nowrap;
    white-space: nowrap;
}

#bottom-text {
    margin-top: 20px;
}

#shop-container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

li#shop-button {
    background: rgb(22,22,22);
    color: white;
    border-radius: 30px;
    font-size: medium;
    border:1.5px solid transparent;
    padding: 6px 20px;
    list-style-type: none;
    text-decoration: none;
    line-height: 24px;
    transition: all ease 0.8s;
}

#shop-container a {
    text-decoration: none;
}

li#shop-button:hover {
    background: rgba(22, 22, 22, 0.527)
}

.slideshow-container {
    position: relative;
    width: 100%;
    transition: all ease 0.5s;
    white-space: nowrap;
}

.slideshow {
    display: flex;
    width: 100%;
    transition: all ease 0.5s;
}

.slide2 {
    position: relative;
    width: 100%;
    min-height: 58px;
    flex-shrink: 0;
    scroll-snap-align: start;
    transition: all ease 0.5s;
}

.text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-weight: bold;
}


#text-2 {
    margin-left: -5px;
}

#text-3 {
    margin-left: -2px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%;
}

#map {
    position: absolute;
    display: none;
    top:50%;
    left:25%;
    height: 400px; /* The height is 400 pixels */
    width: 50%; /* The width is the width of the web page */
  }
  

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-container {
    display: flex;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.footer-info-container {
    font-size: 14px;
}

#margin {
    margin-top: 10%;
    margin-bottom: 10%;
}

.card-img-overlay {
    top:70%;
}