body {
    overflow-y:hidden;
    background-color: black;
}

#subheader {
    user-select: none;
}

#login-wrapper {
    position: absolute;
    z-index: 2;
    display: flex;
    top:-15px;
    width:100%;
    height:100vh;
    position: bottom;
    transform: translateY(88px);
}

#login-wrapper #leftPanel {
    width:70%;
    background-image: url(https://www.crushpixel.com/big-static16/preview4/flipflops-seamless-pattern-cartoon-style-2338834.jpg);
    transition: all ease 0.5s;
    background-position-y:-100px ;
}

#login-wrapper #rightPanel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0px;
    right:0px;
    width:30%;
    height:100%;
    transition: all ease 0.5s;
}

#login-wrapper #draggablePanel {
    display: none;
    position: absolute;
    box-sizing: border-box;
    left:0px;
    height:100vh;
    width:30%;
    cursor: auto;
}

#login-wrapper #rightPanel #signInContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height:90%;
    width:80%;
    margin-bottom: 74px;
    border-radius: 20px;
}

#login-wrapper #rightPanel #signInContainer .container {
    display: flex;
    background-color: black;
    height: fit-content;
    width:fit-content;  
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    color:white;
    cursor: pointer;
}

#login-wrapper #rightPanel #arrow {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    left:0px;
    height: 100px;
    width:60px;
    opacity: 0;
    user-select: none;
    transition: all ease 0.5s;
}

#login-wrapper #rightPanel #arrow i {
    color:rgb(0, 0, 0);
    font-size: 30px;
}

#login-wrapper #rightPanel #signInContainer :nth-child(2) {
    color:rgba(0, 0, 0, 0);
    user-select: none;
    transition: all ease 0.5s;
}

#login-wrapper #rightPanel #signInContainer :nth-child(4) {
    margin-top: 40px;
}

#formContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:33%;
    background-color: black;
}

input {
    margin: 10px;
}